.list {
  margin-right: 30px;
  display: flex;
  justify-content: space-between;
  gap: 15px;
  flex-wrap: wrap;
}
.item {
  text-align: center;
  padding: 2px;
  width: 120px;
  list-style: none;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.2);
}
.name {
  text-align: center;
  font-weight: 500;
  margin-bottom: 4px;
}
p {
  margin: 0;
}
.comment {
  color: red;
  font-weight: 500;
  margin-top: 50px;
  margin-left: 50px;
}
